.wrapper {
  width: 100%;
  overflow: hidden;
  height: inherit;
  background-image: url(http://xn--80aamnfk9bml1al.xn--p1ai/sites/default/files/products/9010.gif.jpg);
  background-size: cover;
}
  .wrapper .avatar{
    cursor: pointer;
    height: 180px;
    width: 180px;
    margin-left: 90px;
    margin-top: 80px;
    position: absolute;
    z-index: 100;
    border: 6px solid #D2B48C;
    border-radius: 50%;
    background-color: #D2B48C;
  }
  .wrapper .header {
    width: 100%;
    height: 140px;
    border: 2px solid #FAFAD2;
    cursor: pointer;
    background-color: #D2B48C;
  }
.wrapper .header:hover{
  opacity: 0.7;
}
.wrapper .avatar:hover{
  opacity: 0.7;
}
  .wrapper .avatar .avatarLogin{
    margin-top:200px;
  }
.wrapper .postList{
  width: 60%;
  padding-left: 20%;
  height: inherit;
  margin-left: 10%;
  margin-top: 70px;
}
  .wrapper .postList form {
    margin-left: 4%;
    padding-top:50px;
  }
  .wrapper .postList input {
    display: block;
  }
  .wrapper .postList textarea {
    width: 40%;
  }
.wrapper .fonConstructor {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 1300px;
  background-color: rgba(200,200,200,0.8);
  display: none;
}
  .wrapper .fonConstructor .constructor {
    width: 40%;
    margin-left: 40%;
    margin-top: 150px;
    height: 450px;
    background-color: rgb(255,255,255);
  }

    .wrapper .fonConstructor .constructor input {
      margin-left: 22%;
      margin-top: 4%;
    }
    .wrapper .fonConstructor .constructor .testImage {
      height: 220px;
      width: 90%;
      margin-left: 5%;
      margin-top: 10px;
    }
.wrapper .exit {
  margin-top: 300px;
  padding-bottom: 20px;
  background-color: #FFA07A;
  color: white;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
}
.wrapper .exit:hover {
  opacity: 0.5;
}
.size {
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper h1, h2 {
  color: blue;
}
.wrapper h3 {
  color: orange;
}
.wrapper li {
  color: gray;
}
.wrapper button, #send {
  background-color: #808000;
  color: white;
}
.wrapper input {
  background-color: #EEE8AA;
  width: 50%;
  height: 60px;
}
.wrapper .scale {
  width: 50%;
  height: 30px;
}
.wrapper .consoleComment {
  widows: 40px;
  display: block;
}
.wrapper .element {
  width: 140%;
}
